<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.product.product.controller"></context:component-scan>
	<context:component-scan base-package="com.order.order.controller"></context:component-scan>
	<context:component-scan base-package="com.order.orderdetail.controller"></context:component-scan>
	<context:component-scan base-package="com.order.travelerlist.controller"></context:component-scan>
	<context:component-scan base-package="com.admin.controller"></context:component-scan>
	<context:component-scan base-package="com.member.controller"></context:component-scan>
	                                      
	
	<mvc:annotation-driven></mvc:annotation-driven>
	<mvc:resources location="/download/vendors/" mapping="vendors/**"></mvc:resources>
	<mvc:resources location="/download/css/" mapping="css/**"></mvc:resources>
	<mvc:resources location="/download/images/" mapping="images/**"></mvc:resources>
	<mvc:resources location="/download/demo/" mapping="demo/**"></mvc:resources>
	<mvc:resources location="/download/fonts/" mapping="fonts/**"></mvc:resources>
	<mvc:resources location="/download/js/" mapping="js/**"></mvc:resources>
	<mvc:resources location="/download/php/" mapping="php/**"></mvc:resources>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView"></property>
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

</beans>
